{% extends "base.html" %}

{% block title %}About - University{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>About Us</h1>
  <br><br><br>
  <p>The school has adopted an educational philosophy or statement that identifies and clarifies its beliefs, values, and understanding of T.I.P. education. The educational philosophy is as follows:

  </p>
<strong>
  <p> T.I.P. believes that when students are </p>
    
  <p> immersed in constructivist experiential technological teaching and learning that is focused on outcomes; </p>
  <p> imbued with grit and determination, and love for their fellow Filipino, </p>
     
    
  <p> they become lifelong learners, innovators, and problem solvers for the nation.</p></strong>
</div>
{% endblock content %}
